.navbar{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    padding:1rem;
    box-shadow:0 1px 3px -2px black;
}
.nav-logo{
    display:flex;
    align-items:center;
    gap:0.75rem;
}
.nav-logo-img{
    width:2.5rem;
    height:2.5rem;
}
.nav-logo p{
    color:#171717;
    font-size:2rem;
    font-weight:600;
}
.nav-menu{
    display:flex;
    /* flex-direction:row; */
    align-items:center;
    list-style:none;
    gap:1.5rem;
    color:#626262;
    font-size:1.5rem;
    font-weight:500;
}
.nav-menu li{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0.25rem;
    cursor:pointer;
}
.nav-menu hr{
    border:none;
    width:80%;
    height:3px;
    border-radius:1rem;
    background-color:#FF4141;
}
.nav-login-cart{
    display:flex;
    /* flex-direction:row; */
    align-items:center;
    gap:2rem;
}
.nav-login-cart button{
width:9rem;
height:3.5rem;
outline:none;
border:1px solid #7a7a7a;
border-radius:2rem;
color:#515151;
font-size:1.25rem;
font-weight:500;
background-color:white;
cursor:pointer;
}
.nav-login-cart button:hover{
    background-color:#f3f3f3;
}
.nav-cart-count{
    width:1.25rem;
    height:1.25rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-2.25rem;
    margin-left:-2.35rem;
    border-radius:1rem;
    font-size:1rem;
    background-color:red;
    color:white;
}
@media screen and (max-width:820px){
    .nav-logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:0.2rem;
}
    .nav-logo-img{
    width:1rem;
    height:1rem;
   }
    .nav-logo p{
    color:#171717;
    font-size:0.6rem;
    font-weight:600;
    }
    .nav-menu{
    display:flex;
    /* flex-direction:row; */
    align-items:center;
    list-style:none;
    gap:0.75rem;
    color:#626262;
    font-size:0.6rem;
    font-weight:500;
}
.nav-menu li{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0.175rem;
    cursor:pointer;
}
.nav-menu hr{
    border:none;
    width:80%;
    height:1.5px;
    border-radius:0.5rem;
    background-color:#FF4141;
}
.nav-login-cart{
    display:flex;
    /* flex-direction:row; */
    align-items:center;
    gap:0.25rem;
}
.nav-login-cart button{
width:3rem;
height:1.35rem;
outline:none;
border:1px solid #7a7a7a;
border-radius:2rem;
color:#515151;
font-size:0.5rem;
font-weight:700;
background-color:white;
cursor:pointer;
}
.nav-login-cart button:hover{
    background-color:#f3f3f3;
}
.nav-cart-icon{
    width:1.4rem;
    height:2rem;
}
.nav-cart-count{
    width:0.75rem;
    height:0.75rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-2.25rem;
    margin-left:-0.85rem;
    border-radius:1rem;
    font-size:0.7rem;
    background-color:red;
    color:white;
}

}

@media screen and (max-width:320px){
    .nav-logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:0.2rem;
}
    .nav-logo-img{
    width:0.5rem;
    height:0.5rem;
   }
    .nav-logo p{
    color:#171717;
    font-size:0.6rem;
    font-weight:400;
    }
    .nav-menu{
    display:flex;
    /* flex-direction:row; */
    align-items:center;
    list-style:none;
    gap:0.4rem;
    color:#626262;
    font-size:0.6rem;
    font-weight:500;
}
.nav-menu li{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:0.175rem;
    cursor:pointer;
}
.nav-menu hr{
    border:none;
    width:80%;
    height:1.5px;
    border-radius:0.5rem;
    background-color:#FF4141;
}
.nav-login-cart{
    display:flex;
    /* flex-direction:row; */
    align-items:center;
    gap:0.1rem;
}
.nav-login-cart button{
width:2rem;
height:1rem;
outline:none;
border:1px solid #7a7a7a;
border-radius:2rem;
color:#515151;
font-size:0.5rem;
font-weight:700;
background-color:white;
cursor:pointer;
}
.nav-login-cart button:hover{
    background-color:#f3f3f3;
}
.nav-cart-icon{
    width:1.2rem;
    height:1.2rem;
}
.nav-cart-count{
    width:0.6rem;
    height:0.6rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-1.25rem;
    margin-left:-0.6rem;
    border-radius:1rem;
    font-size:0.6rem;
    background-color:red;
    color:white;
}
}